*{
    margin: 0;
    padding: 0;
}

body{
    height: 100px;
    background-color: rgb(250, 246, 248);
    perspective: 700px;
}

h2{
    padding-left:300px ;
    font-size: 90px;
    color: rgb(242, 205, 253);
}

section ,.card-f ,.card-b{
    width: 320px;
    height: 370px;
}

img{
    width: 320px;
    height: 320px;
}

section{
    float: left;
    position: relative;
    margin-left: 240px;
    margin-top: 100px;
    background-color: rgb(241, 227, 240);
    transform-style: preserve-3d;
    transition: all 2s;
}

.card-f{
    z-index: 1;
    backface-visibility: hidden;
    width: 320px;
    height: 370px;
    margin: auto;
}

.card-b{
    transform: rotateY(180deg);
    background-color: rgb(243, 199, 241);
    width: 320px;
    height: 370px;
    margin: auto;
}

.card-b , .card-f{
    position: absolute;
}

section:hover{
    transform: rotateY(180deg);
}

.img-name{
    font-size: 19px;
    color: white;
    padding: 20px 25px; 

}

h1{
    font-size: 40px;
    color: rgba(241, 220, 234, 0.884);
    padding:  20px 10px;
}

.card-b li{
    font-size: 20px;
    color: rgb(248, 241, 248);
    padding: 10px 5px;
    letter-spacing: 2px;
}

P{
    font-size: 30PX;
    padding: 10PX 5PX;
    color: azure;
    
}